<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>{{ "DocumentDetail" | localize }}</h1>
                </div>
                
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-md-6">
                <button *ngIf="!document.isCompleted" class="btn bg-blue" [disabled]="!isCompleted"(click)="save()">
                    <i class="fa fa-plus-square"></i>
                    {{ "Save" | localize }}
                </button>
            </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">&emsp;</div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" [busy]="isTableLoading">
                            <thead class="bg-light">
                            <tr>
                                <th>{{ "Product" | localize }}</th>
                                <th>{{ "Quantity" | localize }}</th>
                                <!-- <th>{{ "CreationTime" | localize }}</th> -->
                                <th style="width: 200px;">{{ "Actions" | localize }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr
                                    *ngFor="
                  let documentDetail of dataSource
                    | paginate
                      : {
                          id: 'server',
                          itemsPerPage: pageSize,
                          currentPage: pageNumber,
                          totalItems: totalItems
                        }
                "
                            >
                                <td>{{ documentDetail.product.name }}</td>
                                <td>{{ documentDetail.quantity }}</td>
                                <!-- <td>{{ documentDetail.creationTime }}</td> -->
                                <td>
                                    <div style="display: flex; justify-content: space-between">
                                        <button
                                        *ngIf="!(document.isCompleted)"
                                        type="button"
                                        class="btn btn-sm bg-secondary"
                                        (click)="complete(documentDetail.id)"
                                        [disabled]="documentDetail.isCompleted || documentDetail.isDeleted"
                                    >
                                        <i *ngIf="!documentDetail.isCompleted" class="fas fa-pencil-alt"></i>
                                        {{ documentDetail.isCompleted ? "Completed": "Complete" | localize }}
                                        </button>
                                    <button
                                    *ngIf="!(document.isCompleted)"
                                        type="button"
                                        class="btn btn-sm bg-secondary"
                                        (click)="deleteDocumentDetail(documentDetail.id)"
                                        [disabled]="documentDetail.isDeleted"
                                >       
                                    <i *ngIf="!documentDetail.isDeleted" class="fas fa-trash"></i>
                                    {{ documentDetail.isDeleted ? "Deleted": "Delete" | localize }}
                                </button>
                                    </div>
                                    
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer table-card-footer bg-light border-top">
                    <div class="row">
                        <div class="col-sm-4 col-12 text-sm-left text-center">
                            <button class="btn btn-secondary" (click)="refresh()">
                                <i class="fas fa-redo-alt"></i>
                            </button>
                        </div>
                        <div class="col-sm-4 col-12 text-center">
                            <p class="mb-0 my-2">
                                {{ "TotalRecordsCount" | localize: totalItems }}
                            </p>
                        </div>
                        <div class="col-sm-4  col-12" style=" display: flex; justify-content:flex-end; align-items: center;">                           
                                   <select style="margin-right:10px; height: 36px;" [(ngModel)]="pageSize" (change)="changePageSize()">
                                    <option *ngFor="let pageSizeSelected of pageSizeOption"
                                        [value]="pageSizeSelected">
                                        {{ pageSizeSelected }}
                                    </option>
                                </select>                           
                                <abp-pagination-controls
                                        (length)="length"
                                        (pageSize)="pageSize"
                                        (pageSizeOptions)="[5, 10, 25, 100]"
                                        id="server"
                                        (pageChange)="getDataPage($event)"
                                >
                                </abp-pagination-controls>                            
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </section>
</div>