<form
  class="form-horizontal"
  autocomplete="off"
  #editStorageForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditStorage' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        {{ "StorageName" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="storageName"
          id="name"
          minlength="2"
          maxlength="64"
          required
          [(ngModel)]="storage.name"
          #NameModel="ngModel"
          #NameEl
        />
        <abp-validation-summary
          [control]="NameModel"
          [controlEl]="NameEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="storageCode">
        {{ "StorageCode" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="storageCode"
          id="storageCode"
          maxlength="128"
          required
          [(ngModel)]="storage.storageCode"
          #nameModel="ngModel"
          #nameEl
        />
        <abp-validation-summary
          [control]="nameModel"
          [controlEl]="nameEl"
        ></abp-validation-summary>
      </div>
    </div>

    

    <!-- <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "IsActive" | localize }}
      </label>
      <div class="col-md-9">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            name="isActive"
            id="isActive"
            [(ngModel)]="tenant.isActive"
          />
          <label class="custom-control-label mt-2" for="isActive"></label>
        </div>
      </div>
    </div> -->
  </div> 
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editStorageForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>