<form
  class="form-horizontal"
  autocomplete="off"
  #createReceivingForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewTransfer' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">

    <a href="javascript:;" class="btn bg-blue" (click)="selectStorageOut()">
      <i class="fa fa-plus-square"></i>
      {{ "SelectStorageOut" | localize }}
  </a>
  <span class="">{{storageOut?.name}}</span>

  <a href="javascript:;" class="btn bg-blue" (click)="selectStorageIn()">
    <i class="fa fa-plus-square"></i>
    {{ "SelectStorageIn" | localize }}
</a>
<span class="">{{storageIn?.name}}</span>

  <a href="javascript:;" class="btn bg-blue" (click)="selectProduct()">
    <i class="fa fa-plus-square"></i>
    {{ "SelectProduct" | localize }}
</a>
<span class="">{{product.name}}</span>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="Quantity">
        {{ "Quantity" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="number"
          class="form-control"
          name="tenancyName"
          id="tenancyName"
          minlength="1"
          maxlength="64"
          required
          [(ngModel)]="quantityInput"
        />
      </div>
    </div>
    <!-- <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="address">
        {{ "Address" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          maxlength="128"
          required
          [(ngModel)]="receiving.documentDate"
          #nameModel="ngModel"
          #nameEl
        />
        <abp-validation-summary
          [control]="nameModel"
          [controlEl]="nameEl"
        ></abp-validation-summary>
      </div>
    </div> -->

    <!-- <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="Email">
          {{ "Email" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            maxlength="128"
            required
            [(ngModel)]="receiving."
            #nameModel="ngModel"
            #nameEl
          />
          <abp-validation-summary
            [control]="nameModel"
            [controlEl]="nameEl"
          ></abp-validation-summary>
        </div>
      </div>

      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="TaxNumber">
          {{ "TaxNumber" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            maxlength="128"
            required
            [(ngModel)]="Receiving.taxNumber"
            #nameModel="ngModel"
            #nameEl
          />
          <abp-validation-summary
            [control]="nameModel"
            [controlEl]="nameEl"
          ></abp-validation-summary>
        </div>
      </div>

      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="TaxOffice">
          {{ "TaxOffice" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            maxlength="128"
            required
            [(ngModel)]="Receiving.taxOffice"
            #nameModel="ngModel"
            #nameEl
          />
          <abp-validation-summary
            [control]="nameModel"
            [controlEl]="nameEl"
          ></abp-validation-summary>
        </div>
      </div>

      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="PhoneNumber">
          {{ "PhoneNumber" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            maxlength="128"
            required
            [(ngModel)]="Receiving.phoneNumber"
            #nameModel="ngModel"
            #nameEl
          />
          <abp-validation-summary
            [control]="nameModel"
            [controlEl]="nameEl"
          ></abp-validation-summary>
        </div>
      </div> -->

    <!-- <div class="form-group row">
      <label class="col-md-3 col-form-label" for="connectionString">
        {{ "DatabaseConnectionString" | localize }}
      </label> -->
      <!-- <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="connectionString"
          id="connectionString"
          maxlength="1024"
          [(ngModel)]="tenant.connectionString"
        />
      </div> -->
    <!-- </div> -->
    <!-- <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="adminEmailAddress">
        {{ "AdminEmailAddress" | localize }}
      </label> -->
      <!-- <div class="col-md-9">
        <input
          type="email"
          class="form-control"
          name="adminEmailAddress"
          id="adminEmailAddress"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
          maxlength="256"
          required
          [(ngModel)]="tenant.adminEmailAddress"
          #adminEmailAddressModel="ngModel"
          #adminEmailAddressEl
        />
        <abp-validation-summary
          [control]="adminEmailAddressModel"
          [controlEl]="adminEmailAddressEl"
        ></abp-validation-summary>
      </div> -->
    <!-- </div> -->
    <!-- <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "IsActive" | localize }}
      </label>
      <div class="col-md-9">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            name="isActive"
            id="isActive"
            [(ngModel)]="tenant.isActive"
          />
          <label class="custom-control-label mt-2" for="isActive"></label>
        </div>
      </div>
    </div> -->
    <!-- <p class="text-center text-info mb-0">
      {{ "DefaultPasswordIs" | localize: "123qwe" }}
    </p> -->
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createReceivingForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>