<form
  class="form-horizontal"
  autocomplete="off"
  #createReceivingForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewDocument' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="row d-flex align-items-center">
      <div class="col-md-3"><a style="width:150px; text-align: left;" href="javascript:;" class="btn bg-blue" (click)="selectClient()">
        <i class="fa fa-plus-square"></i>
        {{ "SelectClient" | localize }}
          </a>
      </div>
      <div class="col-md-9"><span class="">{{client?.name}}</span></div>
    </div>

    
<hr/>
<div class="row d-flex align-items-center">
  <div class="col-md-3"><a style="width:150px; text-align: left;" href="javascript:;" class="btn bg-blue" (click)="selectProduct()">
    <i class="fa fa-plus-square"></i>
    {{ "SelectProduct" | localize }}
  </a></div>
  <div class="col-md-9"><span class="mr-3" *ngFor="let i of choosenProducts">{{i.name}}</span></div>
  <div class="col-md-9"><span class="mr-3" *ngFor="let i of stocks">{{i}}</span></div>
  

</div>
  
<hr/>


    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="documentNo">
        {{ "DocumentNo" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="documentNo"
          id="documentNo"
          minlength="2"
          maxlength="64"
          required
          [(ngModel)]="receiving.documentNo"
          #tenancyNameModel="ngModel"
          #tenancyNameEl
        />
        <abp-validation-summary
          [control]="tenancyNameModel"
          [controlEl]="tenancyNameEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="documentDate">
        {{ "DocumentDate" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="documentDate"
          id="documentDate"
          maxlength="128"
          required
          [(ngModel)]="receiving.documentDate"
          #nameModel="ngModel"
          #nameEl
        bsDatepicker/>
        <abp-validation-summary
          [control]="nameModel"
          [controlEl]="nameEl"
        ></abp-validation-summary>
      </div>
    </div>

    
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createReceivingForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>

</form>